<!DOCTYPE html>
<html>
  <head>
    <title>Thermostat</title>

    <script src = "../src/thermostat.js"></script>
    <script src = "jquery-3.4.1.min.js"></script>
    <script src = "interface.js"></script>
    <link rel = "stylesheet" type = "text/css" href = "styles.css">

  </head>
  <body>
    <div id = "main">
      <img src = "../img/londonuk.png" id = "city-img">
      Current temperature in
        <select id = "city">
          <option value = "londonuk"> London </option>
          <option value = "new-yorkus"> New York </option>
          <option value = "berlinge"> Berlin </option>
        </select> is <h2 id = "city-temp"></h2>

      <!--<img src = "../img/new-yorkus.jpeg"
        <img src = "../img/berlinge.png" -->
      <br>
      <br>
      <img src = "../img/dial.png" class = "img">
      Current thermostat temperature is: <h2 id = "temperature"></h2>
      <img src = "../img/flame.png" class = "img">
      Energy usage is: <h2 id = "energy-usage"></h2>
      <br>
      <br>
      <div class = "buttons">
        <button id = "temperature-up">+</button>
        <button id = "temperature-down">-</button>
        <button id = "reset">RESET</button>
      </div>
      <br>
      <br>
      <img src = "../img/eco.png" class = "img">
      Power saving is: <h2 id = "power-saving"></h2>
      <div class = "buttons">
        <button id = "power-saving-off">off</button>
        <button id = "power-saving-on">on</button>
      <div>
    </div>
  <body>
</html>
